@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
body{
    background-color: #FFF;
}
.container{
    margin: auto 230px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* =====header section===== */

header{
    padding: 50px 230px;
    padding-bottom: 0;
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
.navbar .nav-title .span-title{
    color: #FD6E0A;
}
.navbar .nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-menu .nav-item a{
    font-size: 20px;
    color: #474747;
}
.nav-menu .nav-item a:hover{
    color: #ecd404;
}
.primary-btn{
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 14px 28px;
    background-color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}

/* ====banner==== */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left .banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-left .banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #181818;
}
.banner-left .banner-des{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.banner-left .secondary-btn{
    background-color: #757575;
    color: #ffffff;
    margin-left: 30px;
}

/* =====about section==== */

.about{
    padding: 131px 150px;
    background: #FFF8F3;
    border-radius: 10px;
}
.about .about-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.about .about-des{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}
.about-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-group .g-item h3{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    text-align: center;
}
.about-group .g-item p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    text-align: center;
}

/* ====what i do=== */

.what-i-do{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 131px 0; 
}
.what-i-do .do-title{
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}
.what-i-do .do-des{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}
.skill-group{
    display: flex;
    align-items: center;
    gap: 30px;
}
.skill-item{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-group .skill-item h3{
    margin: 30px 0;
    font-weight: 700;
    font-size: 20px;
    color: #181818;
}
.skill-item p{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* ====resume==== */

.resume{
    text-align: center;
}
.resume .resume-title{
    text-align: center;
    margin-bottom: 100px;
}
.edu .edu-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.exp .edu-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.r-des{
    display: flex;
    align-items: center;
    gap: 50px;
}
.edu-item h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.edu-item p{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.edu-item{
    margin-bottom: 50px;
}

/* ==footer section==== */

footer{
    padding: 130px 200px;
    background: #FFF8F3;
}
.f-group{
    display: flex;
    /* align-items: center; */
    gap: 50px;
}
.f-left .f-right{
    flex-basis: 60%;
}
.f-right{
    flex-basis: 40%;
}
.f-left h2{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.f-left p{
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.f-left img{
    margin-right: 20px;
}
.f-right h2{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 25px;
}
form input{
    display: block;
}
form .inp, form textarea{
    border: none;
    outline: none;
    padding: 18px 30px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 24px;
    width: 100%;
}